[user]
    name = elusivesmw
    email = 78516603+elusivesmw@users.noreply.github.com
[core]
    editor = nvim
    pager = less
[pager]
    log = cat # show log in terminal
    branch = cat # show branch in terminal
[diff]
    tool = nvimdiff
[init]
    defaultBranch = main
[safe]
    directory = *
[credential]
    helper = store
# wsl2
#[credential]
#    helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager-core.exe
[alias]
    logg = log --graph --oneline --decorate -10
